<html>
  <h2><center>PAYMENT SUCCESSFUL</center></h2>
    <body>
      <form  action="../controller/feedbackcheck.php" method="POST"></form>
      


  <p>
    <p>
  <tr>
    <td><center>Drop your comment</center></td></tr>
    <tr>
    <td >
      <center>
    <input type="text" name="feedback" placeholder="" value="" id="feedback" textarea style="height: 100px;width: 260px;" >
    </center>
  </td>
</tr>
</p>
</p>
<center>
  <input type="submit" name="submit" value=" SUBMIT">
</center>
</form>

      
						
        

    </body>
		

</html>